.container{
    display: flex;
}

.image{
    margin-top: 80px;
}

.main{
    padding: 100px;
    width: 75vw;
}

.input{
    text-align: left;
}

.span{
    text-decoration: none;
    font-weight: bolder;
    color: #4F0DA3;
    font-size: 0.9em;
    margin-bottom: 50px;
    cursor: pointer;
}