.nav {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(180deg, #B065ED 0%, #4F0DA3 100%);
    padding: 10px 20px;
    margin: 70px 20px;
    position: fixed;
    align-items: center;
    width: 66.5vw;
    margin-top: 79px;
    margin-left: 80px;
    color: white;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);


}

.profileTitle {
    color: white;
    font-size: 1em;

}



.searchForm {
    display: flex;
    align-items: center;
    max-width: 400px;
    padding: 0px 20px;

    /* Adjust this value to your design */
}

.searchInputContainer {
    position: relative;
}

.searchInput {
    padding: 8px 40px 8px 8px;
    /* Adjust right padding to provide space for the icon */
    margin: 10px;
    font-style: italic;
    /* width: 100%; */
    font-size: 0.8rem;
    border: 1px solid #cccccc76;
    border-radius: 10px;
}

.searchIcon {
    position: absolute;
    top: 50%;
    right: 10px;
    /* Adjust this value to position the icon within the input */
    transform: translateY(-50%);
    width: 20px;
    /* Adjust this value based on your design */
    height: 20px;
    /* Adjust this value based on your design */
}


/* Add media query to change the layout on smaller screens */
@media (max-width: 768px) {
    .nav {
        width: 100%;
    }
}