.followersList {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
  }
  
.follower{
    margin-bottom: 10px;
}  
  .follower img {
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 5px;
  }
  